@model IEnumerable<hotelcourseworkV2.Models.HotelRoom>
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Список номерів</h3>
        <p>
            Загальна кількість номерів: <span class="badge bg-primary">@ViewBag.AllRooms</span> | 
            Зайняті номери: <span class="badge bg-danger">@ViewBag.OcupiedRooms</span> | 
            Вільні номера: <span class="badge bg-success">@ViewBag.FreeRoom</span>
        </p>
    </div>
    <div class="card-body">
        <div class="table-responsive mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col"><i class="fas fa-bed"></i> Тип кімнати</th>
                        <th scope="col"><i class="fas fa-money-bill-alt"></i> Ціна</th>
                        <th scope="col"><i class="fas fa-door-open"></i> Номер кімнати</th>
                        <th scope="col"><i class="fas fa-layer-group"></i> Поверх</th>
                        <th scope="col"><i class="fas fa-door-closed"></i> Кількість кімнат</th>
                        <th scope="col"><i class="fas fa-users"></i> Кількість місць</th>
                        @if(User.IsInRole("Горничные")){
                            <th scope="col"><i class="fas fa-status"></i>Статус</th>
                        }
                        <th scope="col">Дії</th> 
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>@item.typeRoom.Name</td>
                            <td>@item.Price</td>
                            <td>@item.NumberRoom</td>
                            <td>@item.FloorRoom</td>
                            <td>@item.AmountRoom</td>
                            <td>@item.AmountPlace</td>
                            @if(User.IsInRole("Горничные")){
                                  <td class="status">
                                    @if (item.IsStatus == false)
                                    {
                                        <p>Зайнята</p>
                                    }
                                    else if (item.IsStatus == true)
                                    {
                                        
                                        <p>Вільна</p>
                                    }
                                </td>
                            }
                            <td>
                                @if(User.IsInRole("Горничные")){
                                    <button class="btn btn-primary clean-room" data-id="@item.Id" @(item.IsStatus == true ? "disabled" : "")>Прибрати</button>
                                }else{
                                    <a href="@Url.Action("ReserveRoom", "Reserve", new { id = item.Id })" class="btn btn-primary"><i class="fas fa-calendar-plus"></i> Забронювати</a>
                                }
                                
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
        $(document).ready(function () {
            $('.clean-room').click(function () {
                var roomId = $(this).data('id');
                var button = $(this);

                $.ajax({
                    url: '@Url.Action("CleanRoom", "Cleaner")',
                    type: 'POST',
                    data: { id: roomId },
                    success: function (response) {
                        if (response.success) {
                            button.closest('tr').find('.status').text('true');
                            button.prop('disabled', true);
                        } else {
                            alert('Error: ' + response.message);
                        }
                    },
                    error: function () {
                        alert('Error occurred while cleaning the room.');
                    }
                });
            });
        });
    </script>