@model IEnumerable<hotelcourseworkV2.Models.Dish>

<div class="container my-5">
    <div class="text-center mb-4">
        <h1 class="mb-4">Страви</h1>
        <a href="@Url.Action("DishCreate", "Dish")" class="btn btn-primary">Створити</a>
    </div>

    <div class="row row-cols-3 row-cols-md-3 g-4">
        @foreach (var dish in Model)
        {
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="https://img.freepik.com/premium-vector/roast-chicken-on-a-plate-black-and-white-vector-illustration_1039458-920.jpg" class="card-img-top" alt="@dish.Title">
                    <div class="card-body">
                        <p class="card-text card-text-sm"><strong>Назва: </strong> @dish.Title</p>
                        <p class="card-text card-text-sm"><strong>Рецепт: </strong>@dish.Recipe</p>
                        <p class="card-text card-text-sm"><strong>Вага:</strong> @dish.Weight грамм, <strong>Кількість:</strong> @dish.Unit</p>
                        <p class="card-text card-text-sm"><strong>Ціна:</strong> @dish.Price грн</p>
                        <p class="card-text"><strong>Інгредієнти:</strong></p>
                        <ul>
                            @foreach (var composition in dish.Compositions)
                            {
                                <li>@composition.Ingredient.Title</li>
                            }
                        </ul>
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="@Url.Action("EditDish", "Dish", new { id = dish.Id })" class="btn btn-sm btn-outline-primary">Редагувати</a>
                            <a href="@Url.Action("DeleteDish", "Dish", new { id = dish.Id })" class="btn btn-sm btn-outline-danger">Видалити</a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Styles {
    <style>
        .card {
            transition: transform 0.2s;
            width: 100%; /* Ширина карты по умолчанию */
            height: 100% ;
        }
        .card:hover {
            transform: scale(1.05);
        }
        .card-title {
            font-size: 1.25rem;
            font-weight: bold;
        }
        .card-text {
            font-size: 1rem;
        }
        .card-title-sm {
            font-size: 1rem;
        }
        .card-text-sm {
            font-size: 0.9rem;
        }
    </style>
}
