@model IEnumerable<hotelcourseworkV2.Models.Hotel>

@{
    ViewData["Title"] = "Список отелей";
}

<div class="container">
    <div class="row mb-3">
        <div class="col">
            @if (User.IsInRole("Владелец сети"))
            {
                <a asp-controller="Hotel" asp-action="CreateHotel" class="btn btn-primary">Створити готель</a>
            }
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">
                            <strong>Зірки:</strong> @Html.DisplayFor(modelItem => item.Stars)<br />
                            <strong>Місто:</strong> @Html.DisplayFor(modelItem => item.City)<br />
                            <strong>Вулиця:</strong> @Html.DisplayFor(modelItem => item.Street)<br />
                            <strong>Номер телефону:</strong> @Html.DisplayFor(modelItem => item.Owner.PhoneNumber)
                        </p>
                        @if (User.IsInRole("Зарегистрированный клиент"))
                        {
                            <a asp-action="ReserveRoom" asp-controller="Reserve" class="btn btn-primary">Забронювати</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

