@model IEnumerable<hotelcourseworkV2.Models.Hotel>

@{
    ViewData["Title"] = "Список отелей";
}

<div class="container">
    <div class="row mb-4">
        <div class="col">
            @if (User.IsInRole("Владелец сети"))
            {
                <a asp-controller="Hotel" asp-action="CreateHotel" class="btn btn-primary">Створити готель</a>
            }
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-4 mb-4">
                <div class="card h-100 border-0 shadow">
                    <img src="https://via.placeholder.com/150" class="card-img-top" alt="Hotel Image">
                    <div class="card-body">
                        <h5 class="card-title text-primary">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <ul class="list-unstyled">
                            <li><strong>Зірки:</strong> @Html.DisplayFor(modelItem => item.Stars)</li>
                            <li><strong>Місто:</strong> @Html.DisplayFor(modelItem => item.City)</li>
                            <li><strong>Вулиця:</strong> @Html.DisplayFor(modelItem => item.Street)</li>
                            <li><strong>Номер телефону:</strong> @Html.DisplayFor(modelItem => item.Owner.PhoneNumber)</li>
                        </ul>
                        @if (User.IsInRole("Зарегистрированный клиент"))
                        {
                            <a asp-action="ReserveRoom" asp-controller="Reserve" class="btn btn-primary">Забронювати</a>

                        }
                        @if (User.IsInRole("Владелец сети"))
                        {
                            <a href="@Url.Action("EditHotel", "Hotel", new { id = item.Id })" class="btn btn-primary">Редагувати</a>
                            <a href="@Url.Action("ConfirmDeleteHotel", "Hotel", new { id = item.Id })" class="btn btn-danger">Видалити</a>

                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
