@model IEnumerable<hotelcourseworkV2.Models.HotelRoom>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Список номерів</h3>
    </div>
    <div class="card-body">
        <a href="@Url.Action("CreateRoom","Room")" class="btn btn-primary">Створити</a>
        <a href="@Url.Action("AverageMonthlyRevenue","Statistics")" class="btn btn-success">Розрахувати прибуток</a>
        <div class="table-responsive mt-3">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Готель</th>
                        <th scope="col">Тип кімнати</th>
                        <th scope="col">Ціна</th>
                        <th scope="col">Номер кімнати</th>
                        <th scope="col">Поверх</th>
                        <th scope="col">Кількість кімнат</th>
                        <th scope="col">Кількість місць</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model) {
                        <tr>
                            <td>@item.hotel.Name</td>
                            <td>@item.typeRoom.Name</td>
                            <td>@item.Price</td>
                            <td>@item.NumberRoom</td>
                            <td>@item.FloorRoom</td>
                            <td>@item.AmountRoom</td>
                            <td>@item.AmountPlace</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
